# Database (Supabase)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@[HOST]:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@[HOST]:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://xxxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Uploadthing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Site
NEXT_PUBLIC_SITE_NAME="RekberGG"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
